// container start
.container{
    margin: 0 auto;
    padding: 10px 20px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .container{
        width: 540px;
        // background-color: grey;

    
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container{
        width: 720px;
        // background-color: red;

    
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container{
        width: 960px;
        // background-color: black;    
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container{
        width: 1140px;
        // background-color: blueviolet;

    
    }
 }
 // container End
//  ####################################################
//variables start:
//  ######################
// colors:

$black : #222222;
$blue: #2e64e6;
$gray : #cccccc;
// color url:
//          
//  ######################
// fonts:
// $main-font:
//variables end
$slow_trans_time : 0.3s;
//  ####################################################

html {
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
  }
  

*,h1,h2,h3,a,ul,li,button,span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


// ################################
// .top_cover start:
#top_cover{
    height: 50vh;
    background-image: url('https://www.designlabthemes.com/preview/type/files/2017/07/type-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

    .top_cover_content{
        z-index: 999;
        text-align: center;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        #logo{
            width: 70%;
        }
  
    }
}
// .top_cover end
// ################################
// main nav start::after
.mb-nav-draw_oppen{
    span{
        &:nth-child(1){
            transform: rotate(45deg) translate(-3px, -2px);
        }
        &:nth-child(2){
            opacity: 0;
        }
        &:nth-child(3){
            transform: rotate(-45deg) translate(2px, 1px);
        }
        }
    }
// .mb-nav-to-right{
//     transform: translateX(38vw);
// }
#mb-nav-draw{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    // background-color: white;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: $slow_trans_time ease-in;

    span{
        transition: $slow_trans_time ease-in;
        transform-origin: 0 100%;
        width: 80%;
        height: 5Px;
        background-color: $blue;
        border-radius: 20px;
        &:nth-child(2){
            margin: 5px 0px;

        }
    }
}

#main_nav{
   
    width: 100%;
    background-color: white;
    height: 50px;
    line-height: 50px;
    z-index: 9999;
    box-shadow:  0px 1px 10px 2px #efefef;
    transition: 0.1s ;
    .container{
        
    }
    ul{

        display: flex;
        justify-content: center;
        align-items: center;
        
        li{
        }
        a{
            color: $black;
            text-transform: uppercase;
            margin: 0 5px;
            padding: 10px;
            font-weight: 700;
            transition: color $slow_trans_time;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background-color: $blue;
                bottom: 4px;
                right: 0;
                transform: scaleX(0);
                transition: transform $slow_trans_time ease-in-out;
                
            }

            
            &:hover{
                color: $blue;
                &::after{
                    transform: scale(1);
                }
            }
        }
    }
    @media (max-width: 576px) { 
        position: fixed;
        top: 0;
        height: 100vh;
        width: 50%;
        // right: from js
        ul{
            flex-direction: column;
    height: 100vh;
        }
     }
}
#over_lay_of_nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    z-index: 9999;  
    
    transition: .1s ease-in;
}
.over_lay_of_nav_on{
    visibility: visible;
    opacity: 0.85;
}
.over_lay_of_nav_off{
    visibility: hidden;
    opacity: 0;
}

// main nav end
// ################################
.body_content{
    margin: 30px 0px;

    width: 100%;
    height: 100vh;
    .grid-main-side{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        
        grid-auto-columns:1fr;
        grid-gap: 40px;


    }
    .main_content{
        // background-color: pink;
        // height: 100vh;
        // so important
        grid-column: 1 / 3;
    }
    .side_bar{
        // background-color: greenyellow;
        // height: 100vh;
        @media (max-width:992px){
            grid-column: 1 / 3;
            
        }

    }
    .extra_show_grid{
        margin-bottom: 50px;
        grid-template-rows: repeat(auto-fit,400px);
        grid-auto-rows: 400px;
        .extra_show_grid_item{
            height: 100%;
            background-image: url("https://lh3.googleusercontent.com/proxy/VfQ7DII8nV4NDjBfJbD58Bt9q8uzq1Na0QeSpi9GtQgRS2oZxU5UOXt31UISvC2xOrilOgPZSfNycD8pidq8wFd6tg0pPDDUvi5s1PezN_yEpbZ9uWk4");
            // background-image: url('https://www.designlabthemes.com/preview/type/files/2017/07/red-792139_1920-1024x683.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .main_content{
         
        }
        .side_bar{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
            grid-gap: 30px;
            & .extra_show_grid_item{
                // height: 50%;
            }
        }
        // main nav end
      // ################################
    //   extra_show_grid_item start
        .extra_show_grid_item{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            position: relative;
            &:hover::after{
                border-radius: 0%;
                opacity: 1;
                visibility: visible;
            }
            &:hover .extra_show_grid_item_info{
                // margin-bottom: 15%;
                bottom: 40px;
               

            }
            &::after{
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #222222, $alpha: 0.8);
                opacity: 0;
                visibility: hidden;
                position: absolute;

                transform: scale(1);
                transition: $slow_trans_time ease-in-out;
                border-radius: 100% 0%;
               
                
            }
            
        }
        .extra_show_grid_item_info{
            position: absolute;
            bottom: 20px;
            text-align: center;
            // margin-bottom: 10%;
            font-weight: 700;
            z-index: 99;
            transition-delay: 0.1s;
            color: white;
            transition: $slow_trans_time ease;


            .extra_show_grid_item_date{
                // color: white;
                font-size: 0.7rem;
            }
            .extra_show_grid_item_title{
                // color: white;
                font-size: 1rem;
    
            }
            .title_of_big_part{
                font-size: 2rem;
            }

        }
        



    }
}
.section_title{
    color: $blue;
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 700;
}
//   extra_show_grid_item end
// ################################
.main_content.posts_section{
    grid-template-rows: auto;
    grid-auto-rows: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, 400px);
    grid-auto-rows: 400px;
    grid-gap: 20px;

    .post_item{
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1.5rem;
            box-shadow: 0px 0px 6px -5px #ebebeb;
            transition: $slow_trans_time ease;
            &:hover{
                box-shadow: 0px 0px 6px 1px #ebebeb;

            }
            &:hover .post_img img{
                border-color: $blue;
            }
            .post_img{
                
                margin-bottom: 10px;
                overflow: hidden;
                text-align: center;
                width: 100%;
                height: 50%;
                img{
                    transition: $slow_trans_time ease;
                    width: 100%;
                    height: 100%;
                    border-bottom: 3px solid $gray;
                }   
            }
            .post_category{
                color: $blue;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            .post_title{
                font-weight: 900;
                transition: $slow_trans_time ease;
                color: black;
                &:hover{
                    color: $blue;
                    cursor: pointer;
                }
            }
            .post_date{
                color: $gray;
                font-size: 0.8rem;
            }
            .post_desc{
                line-height: 1.5rem;
                font-weight: 100;
                position: relative;
                
            }

       
    }
}