.container {
  margin: 0 auto;
  padding: 10px 20px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

html {
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
}

*, h1, h2, h3, a, ul, li, button, span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#top_cover {
  height: 50vh;
  background-image: url("https://www.designlabthemes.com/preview/type/files/2017/07/type-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#top_cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#top_cover .top_cover_content {
  z-index: 999;
  text-align: center;
}

#top_cover .top_cover_content #logo {
  width: 70%;
}

.mb-nav-draw_oppen span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-3px, -2px);
          transform: rotate(45deg) translate(-3px, -2px);
}

.mb-nav-draw_oppen span:nth-child(2) {
  opacity: 0;
}

.mb-nav-draw_oppen span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(2px, 1px);
          transform: rotate(-45deg) translate(2px, 1px);
}

#mb-nav-draw {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#mb-nav-draw span {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  width: 80%;
  height: 5Px;
  background-color: #2e64e6;
  border-radius: 20px;
}

#mb-nav-draw span:nth-child(2) {
  margin: 5px 0px;
}

#main_nav {
  width: 100%;
  background-color: white;
  height: 50px;
  line-height: 50px;
  z-index: 9999;
  -webkit-box-shadow: 0px 1px 10px 2px #efefef;
          box-shadow: 0px 1px 10px 2px #efefef;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#main_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_nav ul a {
  color: #222222;
  text-transform: uppercase;
  margin: 0 5px;
  padding: 10px;
  font-weight: 700;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

#main_nav ul a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2e64e6;
  bottom: 4px;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#main_nav ul a:hover {
  color: #2e64e6;
}

#main_nav ul a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 576px) {
  #main_nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
  }
  #main_nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
}

#over_lay_of_nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  z-index: 9999;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.over_lay_of_nav_on {
  visibility: visible;
  opacity: 0.85;
}

.over_lay_of_nav_off {
  visibility: hidden;
  opacity: 0;
}

.body_content {
  margin: 30px 0px;
  width: 100%;
  height: 100vh;
}

.body_content .grid-main-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-rows: (400px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 400px);
  grid-auto-rows: 400px;
  grid-auto-columns: 1fr;
  grid-gap: 40px;
}

.body_content .main_content {
  background-color: pink;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.body_content .side_bar {
  background-color: greenyellow;
}

@media (max-width: 992px) {
  .body_content .side_bar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.body_content .extra_show_grid {
  margin-bottom: 50px;
}

.body_content .extra_show_grid .extra_show_grid_item {
  height: 100%;
  background-image: url("https://lh3.googleusercontent.com/proxy/VfQ7DII8nV4NDjBfJbD58Bt9q8uzq1Na0QeSpi9GtQgRS2oZxU5UOXt31UISvC2xOrilOgPZSfNycD8pidq8wFd6tg0pPDDUvi5s1PezN_yEpbZ9uWk4");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.body_content .extra_show_grid .side_bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.body_content .extra_show_grid .extra_show_grid_item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: relative;
}

.body_content .extra_show_grid .extra_show_grid_item:hover::after {
  border-radius: 0%;
  opacity: 1;
  visibility: visible;
}

.body_content .extra_show_grid .extra_show_grid_item:hover .extra_show_grid_item_info {
  bottom: 40px;
}

.body_content .extra_show_grid .extra_show_grid_item::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 100% 0%;
}

.body_content .extra_show_grid .extra_show_grid_item_info {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-weight: 700;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 99;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.body_content .extra_show_grid .extra_show_grid_item_info .extra_show_grid_item_date {
  color: white;
  font-size: 0.7rem;
}

.body_content .extra_show_grid .extra_show_grid_item_info .extra_show_grid_item_title {
  color: white;
  font-size: 1rem;
}

.body_content .extra_show_grid .extra_show_grid_item_info .title_of_big_part {
  font-size: 2rem;
}

.section_title {
  color: #2e64e6;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */